@import url("https://fonts.googleapis.com/css2?family=Lato:wght@600;700;900&display=swap");

:root {
  --primary-color: #f16d7f;
  --second-primary: #f26376;
  --dark-color: #222;
  --light-color: #fff;

  --text-color: #000;
  --secondary-text: #fbfbfb;
  --tertiary-text: #5d5d5d;
  --quaternary-text: #222224;

  --font-base: "Lato", sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.5rem;
  --padding-base: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: var(--light-color);
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
a,
p,
button {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}
button:hover,
a:hover {
  cursor: pointer;
}
.container_big,
.container {
  margin: 0 auto;
}
.container_big {
  width: 1600px;
}
.container {
  width: 1140px;
}
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.header {
  background-color: var(--dark-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navigation button {
  border: none;
}
.nav__button_left {
  padding-left: calc(50% - 570px);
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  gap: 40px;
}
.nav__button_right {
  padding-right: calc(50% - 570px);
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  gap: 33px;
}
.nav__button a {
  background-color: var(--dark-color);
}
.nav__button img,
.nav__button svg {
  transition: fill 0.3s ease, transform 0.3s ease;
}
.nav__button img:hover,
.nav__button svg:hover {
  fill: var(--primary-color);
}
.nav__button img:active,
.nav__button svg:active {
  transform: scale(1.1);
}

.cart {
  display: none;
}
.top {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e4e6;
}
.menu {
  position: absolute;
  z-index: 2;
  margin-top: 0px;
  right: calc(50% - 570px);
  background-color: var(--light-color);
}
.menu__active {
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 25px;
  margin-right: 74px;
}
.hidden {
  display: none;
}
.menu h3 {
  position: relative;
  text-align: start;
  font-size: 14px;
  color: var(--text-color);
}
.menu__close {
  position: absolute;
  top: 32px;
  right: 20px;
  width: 15px;
  background-color: var(--light-color);
  border: none;
  opacity: 0.7;
  transition: transform 0.3s ease;
}
.menu__close:hover {
  transform: rotate(90deg);
}
.menu h4 {
  margin-top: 24px;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}
.menu__list {
  list-style-type: none;
  margin-bottom: 20px;
}
.menu__list li a {
  display: inline-block;
  margin-top: 11px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 14px;
  color: #6f6e6e;
  opacity: 0.85;
  transition: color 0.3s ease, font-weight 0.3s ease;
}
.menu__list li a:hover {
  font-weight: bold;
  color: var(--primary-color);
}
.menu__list li a:active {
  color: var(--text-color);
}
.top__image {
  width: 800px;
  padding-left: calc(50% - 800px);
  display: flex;
  justify-content: left;
}
.top__image_menu {
  background-color: rgba(33, 22, 22, 0.7);
  opacity: 0.9;
}
.top__text {
  width: 800px;
  padding-right: calc(50% - 800px);
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
  border-left: 12px solid var(--primary-color);
  padding-left: 16px;
}
.top h1 {
  word-break: keep-all;
  font-weight: 900;
  font-size: 48px;
  text-align: left;
  color: var(--dark-color);
}
.top h2 {
  text-align: left;
  font-size: 32px;
  color: var(--dark-color);
}
span {
  font-size: 32px;
  color: var(--primary-color);
}
.section__card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin-top: 65px;
  margin-bottom: 96px;
  gap: 30px;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
  transition: box-shadow 0.3s ease;
}
.card__woman {
  background-image: url(./img/FOR_WOMEN.svg);
  background-size: cover;
  background-position: center;
  height: 260px;
}
.card__man {
  background-image: url(./img/FOR_MEN.svg);
  background-size: cover;
  background-position: center;
  height: 260px;
}
.card__kids {
  background-image: url(./img/FOR_KIDS.svg);
  background-size: cover;
  background-position: center;
  height: 260px;
}
.card__acces {
  grid-column: span 3;
  background-image: url(./img/ACCESORIES.svg);
  background-size: cover;
  background-position: center;
  height: 180px;
}
/* Общая группа для всех карточек */
.card__bg {
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.card:hover {
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.25);
}
.card h2 {
  position: absolute;
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: var(--light-color);
}
.card__span {
  display: block;
  font-size: 24px;
  color: var(--primary-color);
}

.shop__items {
  margin-bottom: 48px;
}
.shop__items h1 {
  font-weight: 400;
  font-size: 30px;
  color: var(--dark-color);
}
.shop__items p {
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
}
.section__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 48px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 30px;
}
.shop__items h1 {
  font-weight: 400;
  font-size: 30px;
  color: var(--dark-color);
  margin-bottom: 6px;
}
.shop__items p {
  font-weight: 400;
  font-size: 14px;
  color: var(--tertiary-text);
  opacity: 0.6;
}
.items {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f8f8f8;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}
.items:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.items__img {
  width: 360px;
  height: 420px;
  transition: all 0.3s;
}

.items__img_hover {
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.items__img:hover .items__img_hover {
  display: flex;
}
.items__img_hover_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--light-color);
  padding: 11px 16px 8px 14px;
  font-weight: 400;
  font-size: 14px;
  color: var(--light-color);
  background: inherit;
  transition: transform 0.3s ease;
}
.items__img_hover_btn::before {
  content: url(./img/cart_active.svg);
  margin-right: 11px;
}
.items__img_hover_btn:active {
  transform: scale(0.9);
}
.item__description {
  margin-top: 24px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.items h2 {
  text-align: left;
  font-weight: 400;
  font-size: 13px;
  color: var(--text-color);
}
.items p {
  margin-top: 16px;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  color: var(--tertiary-text);
  opacity: 0.6;
}
.item_buttons {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  color: var(--primary-color);
  outline: none;
  transition: all 0.3s ease;
}
.item_buttons:hover {
  transform: scale(1.1);
}
.item_buttons:active {
  font-weight: bold;
  color: var(--tertiary-text);
}
.product {
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.button__product {
  padding: 15px 40px;
  border: 2px solid var(--second-primary);
  font-weight: 400;
  font-size: 16px;
  background: none;
  color: var(--second-primary);
  transition: all 0.3s ease;
}
.button__product:hover {
  background-color: var(--second-primary);
  color: var(--light-color);
}
.button__product:active {
  transform: scale(0.95);
}
.services {
  margin-top: 95px;
  background-color: var(--quaternary-text);
  display: flex;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 104px;
  gap: 30px;
}
.services h2 {
  margin-top: 25px;
  font-weight: 400;
  font-size: 19px;
  color: var(--secondary-text);
}
.services p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13px;
  overflow-wrap: normal;
  text-align: center;
  color: var(--secondary-text);
  opacity: 0.6;
}
.services a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service {
  width: 360px;
  height: 134px;
  margin-left: 32px;
  margin-right: 32px;
}
.subscribes__background {
  background-image: url(./img/background__subscribe.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 97px;
  padding-bottom: 153px;
  gap: 230px;
}
.subscribe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 359px;
}
.quisque {
  display: flex;
  flex-direction: column;
}
.quisque p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--quaternary-text);
}
.promotion {
  display: flex;
  flex-direction: column;
}
.promotion__subscribe h2 {
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: var(--quaternary-text);
}
.promotion__subscribe p {
  font-weight: 400;
  font-size: 18px;
}
.promotion__form {
  flex-direction: row;
}
.promotion__form input {
  width: 256px;
  height: 50px;
  border-top-left-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
  border: none;
  opacity: 0.67;
  padding: 7px 64px 6px 22px;
}
.promotion__form button {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--light-color);
  width: 100px;
  height: 50px;
  border-top-right-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;
  border: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
.promotion__form button:hover {
  color: var(--text-color);
}
.promotion__form button:active {
  transform: scale(0.95);
}

.footer {
  background-color: var(--quaternary-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 655px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__brand p {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-text);
}
.footer__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  width: 32px;
  height: 32px;
  transition: all 0.3s;
}
.footer__icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon:hover {
  background-color: var(--primary-color);
}
.footer__icon:hover svg {
  fill: var(--light-color);
}
.footer__icon:active {
  transform: scale(0.95);
}

/* Медиазапросы */
@media (max-width: 768px) {
  .container {
    width: 768px;
  }
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .nav__button_left,
  .nav__button_right {
    margin-left: 32px;
    gap: 25px;
  }
  .cart {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 3px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 12px;
    color: var(--light-color);
    background-color: var(--second-primary);
  }
  .card__woman,
  .card__man,
  .card__kids {
    height: 168px;
  }
  .top__image {
    width: 386px;
    padding-left: calc(50% - 386px);
  }
  .top__text {
    width: 386px;
    padding-right: calc(50% - 386px);
  }
  .top h1 {
    font-weight: 900;
    font-size: 44px;
  }
  .top h2 {
    font-size: 24px;
  }
  span {
    font-size: 24px;
  }
  .shop__items {
    margin-bottom: 48px;
  }
  .section__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
  }
  .section__card {
    width: 735px;
    margin-bottom: 110px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }
  .card__woman {
    height: 168px;
    object-fit: cover;
  }
  .card__man {
    height: 168px;
    object-fit: cover;
  }
  .card__kids {
    height: 168px;
    object-fit: cover;
  }
  .items {
    padding: 0;
  }
  .items h2 {
    margin-bottom: 13px;
    margin-left: 16px;
  }
  .items p {
    margin-bottom: 18px;
    margin-left: 16px;
    margin-right: 29px;
  }
  .item_buttons {
    margin-left: 16px;
    margin-bottom: 20px;
  }
  .item_one {
    box-shadow: none;
  }
  .services {
    margin-top: 64px;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;
    gap: 48px;
  }
  .services h2 {
    margin-top: 20px;
  }
  .subscribes__background {
    background-position: center;
    flex-direction: column;
    gap: 75px;
    padding-top: 64px;
  }
  .footer {
    gap: 305px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 375px;
  }
  .center {
    padding-left: calc(50% - 187px);
    padding-right: calc(50% - 187px);
  }
  .header {
    width: 375px;
  }
  .navigation {
    width: 375px;
  }
  .nav__button_left {
    margin-left: 16px;
  }
  .nav__button_right {
    margin-right: 16px;
  }
  .mobile {
    display: none;
  }
  .top {
    width: 375px;
    height: 363px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .top__text {
    width: 263px;
    height: 66px;
    font-size: 24px;
  }
  .top h1 {
    text-align: left;
    font-weight: 900;
    font-size: 38px;
  }
  .top h2 {
    font-size: 20px;
  }
  span {
    font-size: 20px;
  }
  .section__card {
    width: 343px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 32px;
  }
  .card__acces {
    grid-column: 1;
  }
  .card__woman,
  .card__man,
  .card__kids {
    height: 248px;
  }
  .card__acces img {
    height: 111px;
    object-fit: cover;
  }
  .section__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
  .shop__items {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .shop__items h1 {
    margin-bottom: 3px;
  }
  .items {
    padding: 0;
  }
  .items h2 {
    margin-top: 25px;
    margin-bottom: 13px;
    margin-left: 16px;
  }
  .items p {
    margin-left: 16px;
    margin-right: 28px;
    margin-bottom: 18px;
  }
  .item_buttons {
    margin-left: 18px;
    margin-bottom: 20px;
  }
  .item_one {
    box-shadow: none;
  }
  .services {
    margin-top: 96px;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 80px;
    gap: 46px;
  }
  .services h2 {
    margin-top: 20px;
  }
  .subscribes__background {
    background-position: left;
    flex-direction: column;
    gap: 75px;
    padding-top: 64px;
    padding-bottom: 109px;
  }
  .quisque p {
    font-size: 18px;
  }
  .promotion__subscribe h2 {
    line-height: 153%;
  }
  .promotion__subscribe p {
    font-size: 14px;
    height: 47px;
  }
  .promotion__form input {
    width: 247px;
    padding: 6px 63px 5px 21px;
  }
  .promotion__form button {
    width: 96px;
    height: 47px;
  }
  .footer {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    padding-top: 43px;
    padding-bottom: 9px;
    gap: 40px;
  }
  .footer__brand {
    display: flex;
    order: 2;
  }
  .footer__icons {
    order: 1;
  }
}
